@import '../../../assets/styles/variables';

.home {
  .recipes {

    .recipe-block {
      margin-bottom: 3%;
    }

    .recipe {
      padding: 1% 5%;
      background: linear-gradient(to right, $main-color, lighten($main-color, 8%));
      border: 2px solid black;
      word-wrap: break-word;
      height: 100%;
      position: relative;

      .name {
        text-align: center;
      }

      .description {
        text-align: justify;
      }

      .icons {
        position: absolute;
        right: 1%;
        bottom: 1%;

        .fa {
          color: $secondary-color;

          &.fa-book {
            cursor: pointer;
          }
        }
      }

      .modal-content {
        background: lighten($main-color, 20%);

        .close {
          outline: none;
        }

        .version {
          border-bottom: 1px solid lighten($main-color, 15%);

          &:last-child {
            border: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .recipes {
    display: flex;
    flex-wrap: wrap;
  }
}

// It's only for better look
@media screen and (min-width: 400px) and (max-width: 767px) {
  .recipes {
    padding: 0 15%;
  }
}
